.wi{
    width: 30%;
    height: 50vh;
    margin: 20px 10px;
    border: 2px solid rgb(243,242,242);
    border-color: rgb(182, 176, 176);
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

.wi-b{
    height: 20px;
    background-color: rgb(182, 176, 176);
    display: flex;
    align-items: center;
}

.wi-c{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px;
    background-color: white;
}

.w-img{
    width: 100%;

}
