.f{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}

@media screen and (max-width:480px){
    .f{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 5px;
    }
}