@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
.n-list {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 10;
  }
  
.n-list>ul{
  padding-top: 1rem;
  display: flex;
  gap: 2rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  cursor: pointer;
}
 
  
.n-list>ul>li:hover{
   color: #1DB954;

}


  @media screen and (max-width: 480px) {
    .n-list{
        display: none;
    }
  }
  


