
.w{
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.w-text{
    width: 60%;
}

.w-title{
    font-size: 50px;
    font-weight: 400;
}

.w-desc{
    margin: 20px 0px;
}

.w-pl{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}