@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

.w{
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.w-text{
    width: 60%;
}

.w-title{
    font-size: 50px;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
}

.w-desc{
    margin: 20px 0px;
    font-family: 'Roboto', sans-serif;
}

.w-pl{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width:480px){
    .w{
        flex-direction: column;
        padding: 10px;
    }
    .w-text{
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .w-desc{
        display: none;
    }

}